---
import { getCollection } from 'astro:content'

import PageLayout from 'src/layouts/PageLayout.astro'

const posts = await getCollection('blog');
---

<PageLayout>
  <div class="font-bold text-4xl text-white">Irving Dinh</div>

  <ul class="list-disc mt-8 pl-4">
    {
      posts.map((post) => (
        <li class="pl-4">
          <a href={'/posts/' + post.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</PageLayout>
