---
const { entry } = Astro.props

const { title } = entry.data

const { Content } = await entry.render()

const pageTitle = title ? title + ' — Irving Dinh' : 'Irving Dinh';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-white text-black dark:bg-neutral-950 dark:text-white">
    <div class="mt-16">
      <div class="mx-auto max-w-7xl px-4">
        <article class="prose dark:prose-invert">
          <Content/>
        </article>
      </div>
    </div>
  </body>
</html>
